.home-footer {
    position: fixed;
    bottom: 0;  
    right: 0;
    height: 40px;
    background: white;
    border-top: 1px solid #e7eaec;
    z-index: 999;
    font-size: 13px;
  }
  #footer_content{
    width: 100%;
  }
  
  .home-footer mat-grid-list{
    width: 100%;
  }
  .version{
    right: 15px;
    position: absolute;
  }
  
  .mat-icon.material-icons{
    font-size: 16px;
  }
  #footer_content{
    height: 100%;
  }
  .active .close-foot{
      background-color: #44c1f2;
      color: white;
      border-radius: 4px;
  }
