<mat-card class="p-0">
    <mat-card-header>
        <div mat-card-avatar>

            <container-element [ngSwitch]="data.type">

                <button mat-icon-button *ngSwitchCase="'error'" color="warn" type="button">
                    <mat-icon color="warn">error</mat-icon>
                </button>

                <button mat-icon-button *ngSwitchCase="'warning'" type="button">
                    <mat-icon color="accent">warning</mat-icon>
                </button>

                <button mat-icon-button *ngSwitchCase="'success'" type="button">
                    <mat-icon color="primary">check_circle</mat-icon>
                </button>

            </container-element>

        </div>
        <mat-card-subtitle class="fw-normal m-0 notifique-bar">{{data.type}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="text-left fw-light p-3 m-0">
        <p>{{data.message}}</p>
    </mat-card-content>
    <mat-card-footer class="m-0">
        <mat-progress-bar mode="indeterminate" class="notifique-bar" [ngClass]="data.type"></mat-progress-bar>
    </mat-card-footer>
</mat-card>