<div class="progress-content">
    <mat-progress-bar [mode]="'indeterminate'" *ngIf="isLoadingResults"> </mat-progress-bar>
</div>
<app-breadcrumb [show]=true [bread]="bread"></app-breadcrumb>
<div class="content margin_footer">
    <mat-card class="mat-elevation-z2">
        <mat-menu #contextMenu="matMenu">
            <ng-template matMenuContent>

                <button mat-menu-item [disabled]="!validateOid()" (click)="onSubmit()">
                    <mat-icon>save_alt</mat-icon>
                    <span>Save customer</span>
                </button>

            </ng-template>
        </mat-menu>

        <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

            <mat-card-content>
                <div class="row">
                    <div class="col-12">
                        <mat-form-field>
                            <mat-label>
                                First Name
                            </mat-label>
                            <input matInput autocomplete="name" required maxlength="90" formControlName="name"
                                type="text">
                            <mat-error align="end" *ngIf="form.get('name')?.invalid">
                                Please enter a valid first name</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-12">
                        <mat-form-field>
                            <mat-label>
                                Last Name
                            </mat-label>
                            <input matInput autocomplete="lastName" required maxlength="90" formControlName="lastName"
                                type="text">
                            <mat-error align="end" *ngIf="form.get('lastName')?.invalid">
                                Please enter a valid last name</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-12">
                        <mat-form-field>
                            <mat-label>
                                Surname
                            </mat-label>
                            <input matInput autocomplete="surName" maxlength="90" formControlName="surName" type="text">
                        </mat-form-field>
                    </div>

                    <div class="col-12">
                        <mat-checkbox color="primary" formControlName="provider">Provider?</mat-checkbox>
                    </div>

                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="isLoadingResults">Save</button>
                <button mat-button type="reset" (click)="clear()">Cancel</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>
